<!DOCTYPE html>
<html lang="en">

<h1>Lecturer Dashboard</h1>
<p> Welcome <%= user.name %></p>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
            <table class="table">
                <tbody id="calendar"></tbody>
            </table>
            <h2>When would you like to Meet with ME?</h2>
            <div class = "dropdown">
            <div class="selectDate" >
                <input type = "datetime-local">
                </div>
              </div>
              <button type = "button" >Okay</button>
        </div>
      </div>
</body>

<body>
    <div>
        <a href="/lectInfo/availability" >Set Availability</a>
    </div>
    
</body>

</html>

</html>

<a href="/users/logout">Logout</a>